<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @note.notes %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @note.institute_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
