<h1>Listing institutes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subdomain</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Contact tel</th>
      <th>Admin contact</th>
      <th>Subscription type</th>
      <th>Subscription end date,</th>
      <th>Reseller</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @institutes.each do |institute| %>
      <tr>
        <td><%= institute.name %></td>
        <td><%= institute.subdomain %></td>
        <td><%= institute.address %></td>
        <td><%= institute.contact %></td>
        <td><%= institute.contact_tel %></td>
        <td><%= institute.admin_contact %></td>
        <td><%= institute.subscription_type %></td>
        <td><%= institute.subscription_end_date %></td>
        <td><%= institute.reseller_id %></td>
        <td><%= link_to 'Show', institute %></td>
        <td><%= link_to 'Edit', edit_institute_path(institute) %></td>
        <td><%= link_to 'Destroy', institute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institute', new_institute_path %>
